
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@font-face {
  font-family: amatic;
  src: url(/public/images/font/Amatic_SC/AmaticSC-Bold.ttf);
}
@font-face {
  font-family: roboto;
  src: url(/public/images/font/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
body{
    background-color: #f2f2f2;
}
header{
    position: relative;
    padding-bottom: 50px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 100vw;
    position: fixed;
    background-color: white;
    padding-right: 50px;
    z-index: 999;
}
.logo{
    font-family: Arial, Helvetica, sans-serif; 
    color: #37373f; 
    font-size: 20px;
    cursor: pointer;
    padding-left: 20px;
}
.logo span{
    color: red;   
}
.links{
    display: flex;
    gap: 25px;
}
.links a {
    text-decoration: none;
    color: #7f7f90;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
    position: relative;
    height: 100%;
    padding: 10px 0px 10px 10px;
    overflow: hidden;
    
}
.links a::before{
  width: 0rem;
  height:2px;
 background-color: #ce1212;
 content: "";
 position: absolute;
 bottom: 0px;
 transition: 0.4s;
 
}
.links a:hover:before{
  width: 30rem;
  transition: 1s;
}
.btns{
        font-size: 14px;
        padding: 12px 35px;
        border-radius: 50px;
        color: white;
        background-color: #ce1212;
        border: none;
        cursor: pointer;
}

.enjoy-img{
    padding-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.enjoy-img img{
    position: relative;
    right: 6rem;
    animation: plat 2.5s infinite;
   
    bottom: -0px;
}
@keyframes plat {
  0%   {bottom: 0px;}
  50%  {bottom: -10px;}
  100% {bottom: -0px;}
}

.enjoy{
    width: 40vw;
    padding: 30px;
    padding-left: 10vw;
    
    
}
.enjoy h1{
    font-family: amatic;
    font-size: 64px;
    color: #37373f;
}
.enjoy p{
    font-family: roboto;
    font-size: 20px;
    font-weight: 400;
    color: #2125299a;
}
.btn-video{
    display: flex;
    gap: 30px;
    padding-top: 30px;
}.watch-v{
    border: none;
    background-color: transparent;
}
.btnv , .watch-v{
    font-size: 15px;
    font-weight: bold;
}
.watch-v{
    color: rgba(0, 0, 0, 0.808);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}
.watch-v svg{
    color: #ce1212;
    
}
.watch-v:hover {
  svg  {
     color: #ce1212ce;
    }
    color: #ce1212ce;
    
}
.btns:hover{
     background-color: #ce1212b4;
}




/* about ************************************/
.about{
   background-color: white;
   padding: 70px;
}
.tsec{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.tsec p{
    color: #212529ce;
    font-family: roboto;
}
.tsec h2{
    font-family: amatic;
    font-size: 48px;
    color: rgba(0, 0, 0, 0.877);
}
.tsec span{
    color:#ce1212d3 ;
}
.but-img{
    border: 4px solid #212529a8;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
    margin-top: 10px;
}
.but-img h3{
    color: #37373f;
    font-size: 24px;
    font-family: roboto;
}
.but-img p{
    color:#ce1212e7 ;
     font-size: 26px;
        font-family: roboto;
        font-weight: bold;

}
.right-about{
 display: flex;
 flex-direction: column;
 gap: 30px;
}
.right-about p{
    font-size: 17px;
    font-family: roboto;
    width: 31vw;
    
}
.contnetn-about{
    display: flex;
    gap: 70px;
    padding-top: 49px;
}
.AA {
position: relative;
left: 25px;
}

.AA svg{
    position: absolute;
    left: -30px;
    color: #ce1212;
}

.img-vd{
    position: relative;
}
.img-vd svg{
    background-color: #ce1212;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border: #f2f2f2;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}



.section2{
    display: grid;
    grid-template-columns: 27vw 18vw 18vw 18vw;
    gap: 20px;
    padding-left: 90px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.section2 div{
    width: 100%;
    padding: 20px;
    
}
.premieDiv{
    background-color: #ce1212;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}
.premieDiv h2{
    font-family: roboto;
    font-size: 34px;
    padding-bottom: 20px;
}
.premieDiv p {
    font-family:  roboto;
    font-size: 17px;
}
.premieDiv button{
    border: none;
    background-color: rgba(255, 255, 255, 0.185);
    color: white;
    cursor: pointer;
    padding: 8px 40px 10px;
    border-radius: 50px;
    font-size: 15px;
    display: flex;
    align-items: center;
    transition: 1s;
    font-family: roboto;

}
.premieDiv button svg{
    transition: 1s;
}
.premieDiv button:hover{
    svg{color: #ce1212;}
    color:#ce1212 ;
    background-color: white;
}
.SS{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: roboto;
    gap: 25px;
    background-color: white;
    padding-top: 70px !important;
}
.SS h4{
    color: #37373f;
    font-size: 18px;
}
.SS p {
    color: #212529ad;
}
.containerico{
    background-color: #ce121215;
    width: 60px !important;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.5s;
}
.containerico svg{
    position: absolute;
    width: 40px !important;
    height: 40px !important;
    color: #d61c1c;
}
.SS:hover{
    .containerico svg{ color: #ffffff;}
    .containerico{background-color: #ce1212;}
}